extends layout
block content

	section.panel
		header.panel-heading.font-bold Leaderboard
			.panel-body
				.table-responsive
					table.table.table-striped.b-t.text-sm
						thead
							tr								
								th.th-sortable(data-toggle='class', width='50%')
									| Project
									span.th-sort
										i.icon-sort-down.text
										i.icon-sort-up.text-active
										i.icon-sort
								th(width='25%') Task
								th(width='25%') Member Since
						tbody
							for leader in leaders
								tr							
									td= leader.name
									td= '$' + commafy(leader.balance.toFixed(2))
									td leader.since									
							