form(action='/login', method='post')
	table
		tr
			td
				label Email
			td
				input(type='text', name='username')
		tr
			td
				label Password
			td
				input(type='password', name='password')
		tr
			td
			td
				input(type='submit', value='submit')
