form(action='/login', method='post')
	table
		tr
			td
				label Google
			td
				a(href='/auth/google') Gogole
		tr
			td
				label FB
			td
				a(href='/auth/facebook') FB
		tr
			td
			td
				input(type='submit', value='submit')
